/**
 * Navbar SCSS
 *
 * @author : Lola Dam;
 */
 @import "compass/css3/inline-block";


#home {
    min-height: 100vh;
    padding-top : 50px;
    background: url('../img/home-background.jpg');
    background-color: #F9D8AD;
    color : white;

    .container {
        margin-top: 15vh;

        h1 {
            @include inline-block;
            border: 2px solid white;
            font-size: 10vh;
            margin-bottom: 5vh;
            padding: 2vh 15vh;
        }

        h4 {
            letter-spacing: 0.5vw;
        }

    }
}


