/*
 * Navbar SCSS
 *
 * @author : Lola Dam;
 */

.navbar {

    #logo {
        width : 30px;
        margin : auto;
    }

    .brand-title {
        color : white;
    }

    .navbar-collapse {
        padding-left: 15px;
        padding-right: 15px;
    }

}


